







.header_nav {
    display: flex;
    align-items: center;
}

a:hover {
    color: #404bbf;
}


.address {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

.address_contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_contact:focus {
    color: #404bbf;
}



.logo_p_footer {
    color: #f4f4fd;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
