.hidden{
    display: none;
}

/* default settings */

:root {
    --main-color: #4d5ae5;
    --icon-white-color: #f4f4fd;
    --primary-color: #4d5ae5;
    --hover-color: #31d0aa;
    --white-color: #ffffff;
    --icon-color: #f4f4fd;
    --black-color: #2E2F42;
    --grey-color: #8e8f99;
    --blue-color: #404bbf;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    flex-grow: 1;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

a {
    color: #434455;
    font-size: 16px;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container */

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list, .address{
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header_logo{
    padding: 16px 0;
    display: block;
}

.logo_p {
    color: #2e2f42;
}

.burger_btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger_icon{
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width: 768px) {
    .burger_btn{
        display: none;
    }

    .header_nav {
        display: flex;
        align-items: center;
    }


    .header_logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .header_list{
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .header_list_a {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header_list_a.current {
        position: relative;
        color: #404bbf;
    }
    
    .header_list_a.current::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
    }
    
    .header_list_a:focus {
        color: #404bbf;
    }

    .address {
        display: block;
        font-style: normal;
    }

    .address_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address_contact {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header_logo {
        margin-right: 76px;
    }

    .address_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address_contact {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobie_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobie_menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile_menu_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile_menu_close{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobie_menu_nav{
    margin-bottom: auto;
}

.mobie_menu_nav_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobie_menu_nav_list_item_logo{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.mobie_menu_nav_list_item {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-style: normal;
}

.mobie_menu_address{
    margin-bottom: 48px;
}

.mobie_menu_address_list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobie_menu_address_list_item{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.mobie_menu_socialmedias{
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .mobie_menu{
        display: none;
    }
}

/* first section */

.order_service {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    margin: 0 auto;
    max-width: 320px;
}

.order_service>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

.order_service_titre {
    color: white;
    line-height: 40px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
}

.order_service_btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: var(--main-color);
    color: white;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_service_btn:hover {
    background-color: #404BBF;
}

.order_service_btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .order_service {
        max-width: 768px;
        padding: 112px 0;
    }

    .order_service>div {
        gap: 36px;
    }

    .order_service_titre {
        font-size: 56px;
        line-height: 60px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .order_service {
        padding: 188px 0;
        max-width: 1440px;
    }
    
    .order_service>div {
        gap: 48px;
    }
}

/* second section */

.features{
    padding: 96px 0;
}

.features_list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0;
    padding: 0;
}

.features_skil {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-container-icon {
    display: none;
}

.features_skil_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.features_list_titre {
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .features_list{
        column-gap: 24px;
        row-gap: 72px;    
    }

    .features_skil {
        flex-basis: calc((100% - 72px) / 2);
    }

    .features_list_titre {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .features{
        padding: 120px 0;
    }

    .features_list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features_skil {
        font-size: 20px;
        flex-basis: calc((100% - 72px) / 4);
    }

    .features_skil_text {
        font-weight: 400;
    }

    .features-container-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
    }
}

/* third section */

.team {
    padding: 96px 0;
    background-color: #f4f4fd;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    margin-top: 72px;
}

.team_people {
    max-width: 264px;
    background-color: #FFFFFF;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team_people_container {
    padding: 32px 0;
}

.team_list_titre {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.socialmedias {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.socialmedia_icon {
    width: 40px;
    height: 40px;
}

.socialmedia_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia_link:hover,
.socialmedia_link:focus {
    background-color: #404BBF;
}

.icon {
    fill: var(--icon-white-color);
}

@media screen and (min-width: 768px) {
    .team_list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team_people {
        flex-basis: calc((100% - 72px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team_list {
        gap: 24px;
    }

    .team_people {
        flex-basis: calc((100% - 72px) / 4);
    }
}

/* forth section */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio_item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: start;
}

.portfolio_item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_img {
    position: relative;
    overflow: hidden;
}

.img_text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover .img_text {
    transform: translateY(0%);
}

.portfolio_item_container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio_list_titre {
    margin-bottom: 8px;
}

.portfolio_titre {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio_list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio_item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio_list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio_item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer_logo_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.logo_footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.social_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.social_list {
    display: flex;
    gap: 16px;
}

.social_item {
    width: 40px;
    height: 40px;
}

.social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_link:hover,
.social_link:focus {
    background-color: var(--hover-color);
}

.social_icon {
    fill: var(--icon-color);
}

.form_text {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.input_e-mail {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.form_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.btn_icon {
    margin-left: 16px;
    fill: var(--icon-color);
}

@media screen and (min-width: 768px) {
    .footer_content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        width: 584px;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer_logo_text {
        align-items: start;
    }

    .social_container{
        align-items: start;
    }

    .form_text {
        text-align: start;
    }

    .form {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer_content {
        flex-wrap: nowrap;
        align-items: baseline;
        width: 1158px;
        gap: 0;
    }

    .footer_logo_text {
        margin-right: 120px;
    }

    .form_content {
        margin-left: 80px;
    }

    .form_text {
        text-align: start;
    }
}

/* modal windoow */

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn:hover,
.modal_btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal_btn:hover .close_icon,
.modal_btn:focus .close_icon {
    fill: #ffffff;
}

.close_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_container_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
    margin-bottom: 16px;
}

.form_area {
    margin-bottom: 8px;
}

.form_label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-color);
}

.user_info {
    position: relative;
}

.user_input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user_info:focus {
    border-color: #4D5AE5;
}

.user_input_icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user_input:focus {
    border-color: #4D5AE5;
}

.user_input:focus+.user_input_icon {
    fill: #4D5AE5;
}

.form_comment_area {
    margin-bottom: 16px;
}

.textarea_comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea_comment:focus {
    border-color: #4D5AE5;
}

.modal_bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_privacy_area {
    margin-bottom: 24px;
}

.privacy_label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(--grey-color);
}

.privacy_span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.privacy_icon {
    position: absolute;
    pointer-events: none;
}

.user_privacy:checked+.privacy_label .privacy_span {
    background-color: var(--blue-color);
    border: none;
    fill: var(--icon-white-color);
}

.user_privacy:checked+.privacy_label .privacy_span:checked {
    font-size: 12px;
    line-height: 1;
    fill: var(--icon-white-color);
    color: #fff;
}

.privacy_link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--main-color);
}

.modal_form_btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}